body {
  height: 100vh;
  margin: 0 auto;
  background-image: url(summer-background.png);
}
header {
  text-align: center;
}
label {
  display: block;
}
form,
#section-posts {
  margin: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 1em;
  border: solid 0.2px;
  background-color: antiquewhite;
}
